# Node.js dependencies
node_modules/
npm-debug.log
yarn-error.log
pnpm-lock.yaml

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build outputs
dist/
out/
.next/
.vercel/

# Logs
logs/
*.log

# Editor & OS-specific files
.DS_Store
Thumbs.db
.vscode/
.idea/

# Misc
coverage/
public/temp/
public/uploads/
